# --- Системные файлы Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# --- Инструменты разработки (IDE) ---
.vscode/
.idea/
*.swp

# --- Тестирование и отчеты ---
.pytest_cache/
allure-results/
allure-report/
.coverage
htmlcov/

# --- Бинарные файлы и драйверы ---
*.exe
*.dll
*.so
chromedriver
geckodriver

# --- Логи ---
*.log
pip-log.txt

# --- Технические метки кэша ---
CACHEDIR.TAG
.pytest_cache/